@import url(http://fonts.googleapis.com/css?family=Averia+Libre);

@import "mixins.less";

@dark-green: #5d7370;
@green: #7fa5a0;
@light-green: #afcfaf;
@white-green: #d2e8b9;
@light-yellow: #f8eeb7;
@light-grey: #ededed;
@medium-grey: #cccccc;
@dark-grey: #555;
@black: #000;
@white: #fff;

body{
    background: @light-grey url(../img/rough_diagonal.png) 0 0 repeat;
    font-family: 'Averia Libre', cursive;
    color: @dark-grey;
    margin: 0;
}

header{
    margin: 0 0 20px 0;
    height: 130px;
    background-color: @white;
    .title{
        margin: 0;
        font-size: 3em;
    }
    border-bottom: 1px solid @medium-grey;
}

.container{
    width: 960px;
    margin: 0 auto;
    padding:0 5px;
    &.last{
        border-top: 1px solid @medium-grey;
    }
    &.main{
        border-bottom: 1px solid @light-grey;
    }
    .left-column{
        width: 180px;
        float: left;
    }
    .right-column{
        margin-left: 210px;
    }
}

.scope{
    border-radius: 4px 4px 0 0;
    box-shadow:inset 0 0 4px @dark-grey;
    width: 747px;
    background: @green;
}

.intervals{
    list-style-type: none;
    width: 747px;
    height: 50px;
    margin: 5px 0 0 0;
    padding:0;
    position: relative;
    border: 1px solid transparent;
    li{
        -webkit-user-select: none;
        position: absolute;
        margin:0;
        padding: 2px 6px;
        width: auto;
        cursor: pointer;
        &.half-selected,  &.selected{
            background-color: @light-grey;
            border-radius: 4px;
            text-shadow: 1px 1px 2px @white;
            border: 1px solid @medium-grey;
            -webkit-transition-property: background-color;  
            -webkit-transition-duration: .5s;  
            -webkit-transition-timing-function: ease-out;  
        }
        &.selected{
            background-color: @light-yellow;
        }
    }
}

.slider {
    border: 1px solid @medium-grey;
    border-top: 0;
    border-radius: 0 0 4px 4px;
    width: 741px;
    position: relative;
    height: 15px;
    background: @light-grey;
    padding: 0 2px;
    .handle {
        #arrow > .top(6px, @dark-grey);
        top: 4px; left: 3px; right: 3px;
        cursor: pointer;
        margin: 0;
    }
}

.note-name{
    background-color: @light-grey;
    font-size: 4em;
    text-align: center;
    text-shadow: 1px 1px 2px @white;
    border: 1px solid @medium-grey;
    border-radius: 4px;
    -webkit-user-select: none;
}
.info-controls{
    margin: 20px auto;
    text-align: center;
}

.controls{
    input {
        font-family: 'Averia Libre', cursive;
        box-shadow: inset 0 0 4px @dark-grey;
        display: inline-block;
        width: 80px;
        height: 20px;
        padding: 4px 6px;
        font-size: .9em;
        line-height: 1em;
        color: @light-grey;
        letter-spacing: 0.1em;
        border: none;
        border-radius: 4px;
        background-color: @green;
        -webkit-transition-property: background-color, color;  
        -webkit-transition-duration: .5s;  
        -webkit-transition-timing-function: ease-out;  
        &:focus{
            -webkit-transition-property: background-color, color;  
            -webkit-transition-duration: .5s;  
            -webkit-transition-timing-function: ease-out;  
            background-color: @light-green;
            outline: none;
            color: @white;
        }
    }
    label{
        font-size: .8em;
        text-transform: uppercase;
        margin: 0 25px 0 8px;
    }
}

.replay{
    -webkit-transition-property: background-color;  
    -webkit-transition-duration: .25s;  
    -webkit-transition-timing-function: ease-out; 
    margin: 18px 0 0 0;
    background: @light-grey;
    padding: 6px 16px;
    border-radius:4px;
    border: solid 1px @medium-grey;
    text-shadow: 1px 1px 2px #fefefe;
    cursor: pointer;
    -webkit-user-select: none;
    &:hover{
        background-color: @white;
        -webkit-transition-property: background-color;  
        -webkit-transition-duration: .25s;  
        -webkit-transition-timing-function: ease-out; 
    }
}
footer{
    //padding: 10px 0;
    background-color: @white;
    border-top: 1px solid @medium-grey;
    height: 20px;
    position: absolute;
    bottom:0;
    right:0;
    left:0;
    overflow: hidden;
    .logo{
        //padding: 5px 0;
        float: right;
        opacity:0.3;
         -webkit-transition-property: opacity;  
        -webkit-transition-duration: .5s;  
        -webkit-transition-timing-function: ease-out; 
        &:hover{
            -webkit-transition-property: opacity;  
            -webkit-transition-duration: .5s;  
            -webkit-transition-timing-function: ease-out; 
            opacity: 0.8;
        }
    }
    .more-info{
        font-family:  sans-serif;
        font-size: .7em;
        margin-top: 20px;
        float: left;
    }
}

/// drop down ///
.temperaments{
    margin: 43px 0 0 0;
    padding: 4px 8px;
}
.selectBox-dropdown {
    text-shadow: 1px 1px 2px @white;
    position: relative;
    border: solid 1px @medium-grey;
    text-decoration: none;
    text-align: left;
    outline: none;
    vertical-align: middle;
    background: @light-grey;
    border-radius: 4px;
    display: inline-block;
    cursor: default;
    min-width: 164px;
    -webkit-transition-property: background-color;  
    -webkit-transition-duration: .5s;  
    -webkit-transition-timing-function: ease-out; 


    &.selectBox-menuShowing {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        background:@white;
        border-bottom: solid 1px @light-grey;
        -webkit-transition-property: background-color;  
        -webkit-transition-duration: .5s;  
        -webkit-transition-timing-function: ease-out; 

    }

    .selectBox-label {
        padding: 2px 8px;
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
    }

    .selectBox-arrow {
        #arrow > .top(5px, @dark-grey);
        margin: -3px 0 0 0;
        top: 50%;
        left: 90%;
        right: 5px;
    }
}


/* Dropdown menu */
.selectBox-dropdown-menu {
    position: absolute;
    z-index: 99999;
    max-height: 200px;
    min-height: 1em;
    border: solid 1px @medium-grey; 
    border-top: none;
    background: @white;
    overflow: auto;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}


/* Inline control */
.selectBox-inline {
    min-width: 150px;
    outline: none;
    border: solid 1px @medium-grey;
    background: @white;
    display: inline-block;
    border-radius:4px;
    overflow: auto;
    &:focus{
        border-color: @dark-grey;
    }
}

/* Options */
.selectBox-options,
.selectBox-options li,
.selectBox-options li a{
    list-style: none;
    display: block;
    cursor: default;
    padding: 0;
    margin: 0;
}

.selectBox-options{

    li a {
        line-height: 1.5;
        padding: 0 1em;
        white-space: nowrap;
        overflow: hidden;
        background: 6px center no-repeat;
    }

    li.selectBox-hover a {
        background-color: @light-grey;
        -webkit-transition-property: background-color;  
        -webkit-transition-duration: .25s;  
        -webkit-transition-timing-function: ease-out; 
    }


    li.selectBox-selected a {
        background-color: @light-green;
        color: @white;
    }

    .selectBox-optgroup {
        color: @dark-grey;
        background: @light-grey;
        font-weight: bold;
        line-height: 1.5;
        padding: 0 .3em;
        white-space: nowrap;
    }
}


///tooltips///
.tooltip {
    position: absolute;
    z-index: 2000;
    display: block;
    visibility: visible;
    padding: 5px;
    font-size: .8em;
    opacity:0;
    &.in     { opacity: 0.75; }
    &.top    { margin-top:  -2px; }
    &.right  { margin-left:  2px; }
    &.bottom { margin-top:   2px; }
    &.left   { margin-left: -2px; }
    &.top .tooltip-arrow    { #arrow > .top(5px, @light-yellow); }
    &.left .tooltip-arrow   { #arrow > .left(5px,@light-yellow); }
    &.bottom .tooltip-arrow { #arrow > .bottom(5px,@light-yellow); }
    &.right .tooltip-arrow  { #arrow > .right(5px,@light-yellow); }
}
.tooltip-inner {
    max-width: 150px;
    padding: 3px 8px;
    color: @dark-grey;
    text-align: center;
    text-decoration: none;
    background-color: @light-yellow;
    border-radius:4px;
}

.no{
    .download{
        float: right;
        -webkit-transition-property: background-color;  
        -webkit-transition-duration: .25s;  
        -webkit-transition-timing-function: ease-out; 
        margin: 18px 5px 0 5px;
        background-color: @light-grey;
        padding: 6px 16px;
        border-radius: 4px;
        border: solid 1px @medium-grey;
        text-shadow: 1px 1px 2px @white;
        color: @dark-grey;
        text-decoration: none;
        -webkit-user-select: none;
        background-image: url('/img/google_c.png');
        background-repeat: none;
        background-position: 4px 50%;
        &:hover{
        background-color: @white;
            -webkit-transition-property: background-color;  
            -webkit-transition-duration: .25s;  
            -webkit-transition-timing-function: ease-out; 

        }
    }
}


